body {
   font-family: 'Heiti SC';
   font-weight: lighter;
   font-size: 17px;
}

a {
   color: black;
}

a.text-decoration-none:hover {
   color: darkgray;
}

li {
   list-style-type: circle;
}

/* section {
   margin-bottom: 2rem;
   padding-top: 2rem;
} */

li.nav-item {
   list-style-type: none;
}

/* .container {
   max-width: 1000px;
} */

.text-justify {
   text-align: justify;
}

h2 {
   font-size: 17px;
   text-transform: uppercase;
   text-transform: uppercase;
   margin-bottom: 1.5rem;
}

h2.h2-over {
   text-transform: none;
   font-size: 25px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

a.card {
   cursor: pointer;
   text-decoration: none;
}

a.card:hover {
   background-color: rgb(240, 240, 240);
   color: black;
}

@media (max-width: 800px) {
   h2.h2-over {
      font-size: 17px;
      white-space: normal;
   }
}